<mat-table [dataSource]="clients">

  <!-- Nome Column -->
  <ng-container matColumnDef="nome">
    <mat-header-cell  *matHeaderCellDef> Nome </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let client"> {{client.nome}} </mat-cell>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> E-mail </mat-header-cell>
    <mat-cell *matCellDef="let client"> {{client.email}} </mat-cell>
  </ng-container>

  <!-- CPF Column -->
  <ng-container matColumnDef="cpf">
    <mat-header-cell  *matHeaderCellDef> CPF </mat-header-cell>
    <mat-cell  *matCellDef="let client"> {{client.cpf}} </mat-cell>
  </ng-container>

  <!-- Data de Nascimento Column -->
  <ng-container matColumnDef="data">
    <mat-header-cell *matHeaderCellDef> Data de Nascimento </mat-header-cell>
    <mat-cell *matCellDef="let client"> {{client.data}} </mat-cell>
  </ng-container>

  <!-- Estado Column -->
  <ng-container matColumnDef="estado">
    <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
    <mat-cell *matCellDef="let client"> {{client.estado}} </mat-cell>
  </ng-container>

  <!-- actions Column/adicionar  -->
  <ng-container matColumnDef="teste">
    <mat-header-cell *matHeaderCellDef class="teste-column-header">
      <button (click)="onAdd()" mat-mini-fab color="primary" aria-label="Adicionar">
        <mat-icon>add</mat-icon>
      </button>
    </mat-header-cell>


     <mat-cell *matCellDef="let client" class="teste-column">
      <button (click)="onEdit(client)" mat-icon-button color="primary" aria-label="editar ">
        <mat-icon>edit</mat-icon>
      </button>

      <button (click)="onDelete(client)" mat-icon-button color="primary" aria-label="editar">
        <mat-icon >delete</mat-icon>
      </button>

     </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
